@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

body{
    font-family: "Gideon Roman", serif;
}

.pallet{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

#one,#two,#three,#four,#five
{
    height: 550px;
    width: 18%;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

#OneHead,#TwoHead,#ThreeHead,#FourHead,#FiveHead
{
    font-size: 20px;
    margin-bottom: 30px;
}

.header
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 30px;
}

.random.button 
{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.random.button:active 
{
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) 
{
  .random.button {
    padding: 0.25em 0.75em;
  }
}
